* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    background-color: #ffeaf4;
}

header {
    background-color: #ff359a;
    padding: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;                  
    justify-content: space-between; 
    align-items: center;           
}

header h1 {
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;  
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: aliceblue;
    text-decoration: none;
}

nav ul li a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: rgb(255, 225, 236);
}



.img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}




.sobre {
    background-color: #ffeaf4;
}

.container2 {
    background-color: #ffffff;
    border-radius: 10px;
    margin: 0 auto;
    padding: 70px;
}


.container2 h2 {
    color: #ff359a;
    font-family: 'Playfair Display', serif;
    text-align: center;
    padding-bottom: 30px;
}








.contato {
    background-color: #ffeaf4;
    padding: 50px 0;
}

.contato .container2 {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    
}

.contato h2 {
    text-align: center;
    color: #ff359a;
    margin-bottom: 30px;
    font-family: 'Playfair Display', serif;
}

.contato form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contato input,
.contato textarea {
    padding: 15px;
    border-radius: 10px;
    background-color: #ffdfee;
    border: 2px solid #ffcfe6;
    font-size: 14px;
    resize: none;
}

.contato textarea {
    min-height: 120px;
}

.contato button {
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: #ff359a;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.contato button:hover {
    background-color: #ff4ea4;
}



.footer {
    background-color: #ff359a;
    text-align: center;
    padding: 40px;
    color: aliceblue;
}
